.Input {
    margin-bottom: 15px;
}

.Input label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
}

.Input input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 100%;
    margin: 0 0 5px;
}

.Input span {
    color: red;
    font-weight: bold;
}

.Input.invalid label {
    color: red;
}