.AnswerItem {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;

}

.AnswerItem:hover {
    background: rgba(255, 255, 255, .2);
    transition: background .3s ease-in-out;
}

.AnswerItem.error {
    background: rgba(233, 16, 16, 0.7)
}

.AnswerItem.success {
    background: rgba(6, 245, 98, 0.7)
}
