.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(222, 196, 247);
}

.QuizCreator > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.QuizCreator h1 {
    text-align: center;
}

.QuizCreator form {
    background: #eee;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0 .7);
}